.channel-page { padding-bottom: 20px; }

/* Dans channel.css */
.channel-banner-container {
  width: 100%;
  height: 250px; /* Un peu plus haut pour plus de détails */
  overflow: hidden;
  position: relative;
}

.channel-banner-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Recadre intelligemment */
  object-position: center; 
  /* Force le rendu haute qualité sur les navigateurs webkit */
  image-rendering: -webkit-optimize-contrast; 
  image-rendering: crisp-edges;
}

.channel-banner {
  width: 100%;
  height: 160px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-size: cover;          /* L'image remplit tout l'espace */
  background-position: center;     /* Centrée */
  background-repeat: no-repeat;    /* Empêche le dédoublement */
}

.channel-header {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 30px 20px 0;
}

.channel-avatar {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.channel-desc {
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #aaa;
  cursor: pointer;
  margin: 1rem 0;
}

.subscribe-btn {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.subscribe-btn.subscribed {
  background: #272727;
  color: white;
}

.channel-tabs {
  display: flex;
  gap: 30px;
  border-bottom: 1px solid #333;
  margin: 30px 20px;
}

.channel-tabs button {
  background: none;
  border: none;
  color: #aaa;
  padding-bottom: 10px;
  cursor: pointer;
}

.channel-tabs button.active {
  color: white;
  border-bottom: 2px solid white;
}

.channel-content {
  display: grid;
  grid-template-columns:repeat(3, 1fr);;
  gap: 20px;
  padding: 0 20px;
}

.video-card {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}