.watch-on-youtube-button-wrapper{
  display: none!important;
}

.yt-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 56px;
  background: #0f0f0f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  z-index: 1000;
  left: 0;
  right: 0;
  box-sizing: border-box;
}

.user-profile-link{
  width:32px;
  height: 32px;
  display: block;
}

.header-left { display: flex; align-items: center; gap: 16px; }

.menu-btn { background: none; border: none; color: white; font-size: 24px; cursor: pointer; }

.header-center { flex: 1; max-width: 600px; display: flex; margin: 0 40px; }

.search-input { 
  flex: 1; background: #121212; border: 1px solid #303030; 
  padding: 8px 16px; border-radius: 20px 0 0 20px; color: white; 
}

.search-btn { background: #222; border: 1px solid #303030; padding: 0 20px; border-radius: 0 20px 20px 0; cursor: pointer; }

.user-avatar { width: 32px; height: 32px; border-radius: 50%; }

/* Gestion de l'ouverture de la nav */
.app-container { display: flex; margin-top: 56px; }
.nav-closed .navbar { display: none; }
.nav-open .navbar { width: 240px; }
.main-content { flex: 1; padding: 20px; width: "auto"; }


/* Configuration du conteneur parent */
.app-container {
  display: flex;
  transition: all 0.3s ease;
}

/* État Mini */
.navbar.mini {
  width: 72px; /* Largeur réduite */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar.mini .nav-item {
  flex-direction: column; /* Icône au dessus */
  padding: 16px 0;
}

.navbar.mini .nav-text {
  font-size: 10px; /* Petit texte */
  margin-top: 4px;
}

/* État Étendu (Expanded) */
.navbar.expanded {
  width: 240px; /* Largeur normale */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navbar.expanded .nav-item {
  flex-direction: row; /* Icône à gauche du texte */
  justify-content: flex-start;
  padding: 12px 24px;
  width: 100%;
}
.nav-group{
  width:100%;
}

.navbar.expanded .nav-text {
  margin-left: 16px;
  font-size: 14px;
}
.nav-icon { width: 24px; height: 24px; }
.nav-text { font-size: 12px; }
.nav-arrow { margin-left: auto; }